<!doctype HTML>
<html>
    <head>
        {{> head}}
    </head>
    <body>
        <!-- header -->
        {{> header}}
        <!-- /header -->
        <div class="container">
            <main class="content">
                <!-- body -->
                {{#is section "core"}}
                    {{> body}}
                {{/is}}
                {{#isnt section "core"}}
                    {{> markdownData}}
                {{/isnt}}
                <!-- /body -->
            </main>
        </div>
        <!-- footer -->
        {{> footer}}
        <!-- /footer -->
        {{> scriptsBottom }}
    </body>
</html>