<footer>
    <div class="container">
        <div class="row">
            <div class="columns six">
                <section>CSSG version: {{version}}</section>
                <section>CSSG edtior version: {{versionEditor}}</section>
            </div>
            <div class="columns six">
                <section>{{copyright}}</section>
                <section>{{license}}</section>
            </div>
        </div>
    </div>
</footer>