<title>{{> title}}</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta name="description" content="{{description}}">
<meta name="keywords" content="{{keywords}}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="/favicon.ico">
{{> links}}
{{> scripts}}
